// form styles

form {
    width:100%;
    @include flexBox (column, space-around, flex-start);
}

form p {
    align-self: flex-start;
}

.inputWrapper {
    width: 100%;
    @include flexBox (row, space-between, center)
}

.radio {
    justify-content: flex-start;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid $accentColour;
}

input[type=radio] {
    margin: 10px;
}

input[type=date] {
    width: 75%;
    color: #777777;
}

input[type=submit] {
    border: none;
    padding: 10px 20px;
}

input[type=submit],
.datesWrapper {
    width: 100%;
}

// something about google autocomplete makes this input size strangely, but using vw oddly fixes it
#autoComplete {
    width: 100vw;
}