// form styles

form {
    width:100%;
    @include flexBox (column, space-around, flex-start);
}

.inputWrapper {
    width: 100%;
    @include flexBox (row, space-between, center)
}

.radio {
    justify-content: flex-end;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid $accentColour;
}

input[type=radio] {
    margin: 10px;
}

input[type=date] {
    width: 75%;
    color: #777777;
}

input[type=submit] {
    border: none;
    width: 100%;
    padding: 10px 20px;
}

.datesWrapper {
    width: 100%;
}

#autoComplete {
    width: 100%;
    padding: 10px 0;
}